.signatories-section {
  background-color: #000;
  color: #e7e7e7;
  padding: 4rem 2rem;

  &.visible .signatory-link {
    opacity: 1;
    transform: translateY(0);
  }

  .signatories-title {
    font-size: 4rem;
    margin-bottom: 0.5rem;
    color: #e7e7e7;
    font-weight: 500;
  }

  .signatories-subtitle {
    font-size: 1.5rem;
    margin-bottom: 3rem;
    font-weight: 400;

    .highlight {
      background-color: #ff5b3c;
      color: black;
      padding: 0.2rem 0.5rem;
      border-radius: 20px;
      font-size: 0.8rem;
    }
  }

  .signatories-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(6, 1fr);
    }

    @media (max-width: 900px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 600px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 400px) {
      grid-template-columns: 1fr;
    }
  }

  .signatory-link {
    color: #cecbcb;
    text-decoration: none;
    font-size: 0.8rem;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;
    line-height: 1px;

    &:hover {
      text-decoration: underline;
      color: #ff5b3c;
    }
  }
}
