@import './variables';
@import './mixins';

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background: rgb(255 99 64 );
  color: #fff;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.dlogo{
  margin-top: -60px;
  margin-left: -30px;
}
// contact page

.contact {
  background-color: #000;
  color: #E7E7E7;
  padding: 5rem 2rem;
  font-family: 'Helvetica Neue', sans-serif;

  &__container {
    display: flex;
    max-width: 1500px;
    margin: 0 auto;
    gap: 4rem;
    margin-bottom: 1.5rem;

    @media (max-width: 992px) {
      flex-direction: column;
    }
  }

  &__left {
     flex: 0 0 39%;
     position: relative;

    h2 {
      font-size: 1.5rem;
      font-weight: 600;
    }
     @media (max-width: 992px) {
      flex: 1;
    }
  }

  .sticky-heading {
    position: sticky;
    top: 60px;
    align-self: flex-start;

    @media (max-width: 992px) {
      position: static;
    }
  }
  &__right {
    flex: 1;

    .form-wrapper {
      border: 1px solid #E7E7E7;
      padding: 2rem;

      h2 {
        font-size: 3.5rem;
        font-weight: 500;
        margin-bottom: 1.5rem;
        margin-top: 0rem;
        color: #E7E7E7;
      }

      form {
        .form-field {
          margin-bottom: 0; 
          position: relative;

          input[type="text"],
          input[type="email"],
          textarea {
            width: 100%;
            padding: 14px;
            background-color: transparent;
            color: #cccccc;
            font-size: 18px;
            border: 1px solid #cccccc;
            box-sizing: border-box;

            &::placeholder {
              color: #cccccc; 
              opacity: 1;
            }

            &:focus {
              outline: none;
              border-color: #a3a2a2;
            }
          }

          .custom-dropdown {
            width: 100%;
            padding: 18px;
            background-color: transparent;
            color: #cccccc;
            font-size: 18px;
            border: 1px solid #cccccc;
            box-sizing: border-box;

            option {
              background-color: black;
              color: white;
              padding: 10px;
              border-bottom: none;
              margin-bottom: 4px;
            }

            &:focus {
              outline: none;
              border: 1px solid white;
            }
          }

          label {
            display: none;
          }

          textarea {
            font-family: 'Arial', sans-serif;
            resize: vertical;
            min-height: 100px;
          }
        }

        .consent-section {
          margin: 30px 0;

          .checkbox-container {
            display: flex;
            align-items: flex-start;
            cursor: pointer;
            position: relative;
            padding-left: 35px;
            margin-bottom: 20px;
            user-select: none;

            &.small-text {
              font-size: 12px;
              line-height: 1.4;
              color: #c0bcbc;
            }
          }
        }

        .privacy-link {
          margin: 20px 0 30px 0;

          .privacy-policy-link {
            color: #bbbaba;
            text-decoration: underline;
            font-size: 12.5px;
            font-weight: 600;

            &:hover {
              color: #ccc;
            }
          }
        }

        .submit-button {
          background-color: #E7E7E7;
          color: #000;
          border: none;
          padding: 15px 30px;
          font-size: 20px;
          font-weight: 600;
          cursor: pointer;
          transition: background-color 0.3s ease;
          border-radius: 2rem;

          &:hover {
            background-color: #e0e0e0;
          }

          &:active {
            background-color: #d0d0d0;
          }
        }
      }
    }
  }
}

// about page

.aboutt{
  background: #ff6433; 
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem
}


// latest page

.latestpage {
  background-color: #000;
  color: #E7E7E7;
  padding: 5rem 1.5rem;
  font-family: 'Helvetica Neue', sans-serif;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;

  &__container {
    display: flex;
    max-width: 1500px;
    margin: 0 auto;
    gap: 4rem;

    @media (max-width: 992px) {
      flex-direction: column;
    }
  }

  &__left {
    flex: 0 0 39%;
    position: relative;

    h2 {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 2rem;
    }
    .filter-buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        button {
          background: #2c2c2c;
          border: none;
          padding: 0.3rem 0.8rem;
          border-radius: 999px;
          font-size: 0.75rem;
          font-weight: 600;
          color: #c7c7c9;
          cursor: pointer;
          transition: background 0.3s;

          &.active,
          &:hover {
            background: #ff5b3c;
            color: black;
          }
        }
      }

    @media (max-width: 992px) {
      flex: 1;
    }
  }

  &__right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 75px;
  }
  .sticky-heading {
    position: sticky;
    top: 60px;
    align-self: flex-start;

    @media (max-width: 992px) {
      position: static;
    }
  }

  &__card {
    display: flex;
    width: 100%;
    text-decoration: none;
    color: inherit;
    padding-bottom: 2rem;
    gap: 2rem;
    transition: transform 0.3s ease;

    &:hover .card__img {
      transform: scale(1.05);
    }

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .card__img-wrapper {
    flex: 1;
    overflow: hidden;
    max-height: 400px;

    img.card__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.4s ease;
      display: block;
    }
  }

  .card__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .card__tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.6rem;

      .tag {
        background-color: #2c2c2c;
        color: #c7c7c9;
        padding: 0.3rem 0.7rem;
        border-radius: 999px;
        font-size: 0.8rem;
        font-weight: 600;
      }

      .date {
        color: #aaa;
        font-size: 0.8rem;
        margin-top: 5px;
        font-weight: 600;
      }
    }

    .card__title {
      font-size: 2.1rem;
      font-weight: 500;
      color: #E7E7E7;
    }

    .card__summary {
      font-size: 1.08rem;
      color: #bdbdbe;
      margin-top: -10px;
    }
  }
}


