@import '../../styles/variables';
@import '../../styles/mixins';

.designers {
  background-color: #000;
  color: #E7E7E7;
  padding: 3rem 1rem;
  font-family: 'Helvetica Neue', sans-serif;

  &__container {
    display: flex;
    max-width: 100%; 
    width: 100%;
    margin: 0 auto;
    gap: 4rem;

    @media (max-width: 992px) {
      flex-direction: column;
    }
  }

  &__left {
     flex: 0 0 38%;
     position: relative;

    h2 {
      font-size: 1.5rem;
      font-weight: 600;
    }
     @media (max-width: 992px) {
      flex: 1;
    }
  }

  &__right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .sticky-heading {
    position: sticky;
    top: 60px;
    align-self: flex-start;

    @media (max-width: 992px) {
      position: static;
    }
  }

  &__description1 {
    font-size: 1.2rem;
    line-height: 1.3;
    color: #c7c7c9;

    @media (max-width: 992px) {
      font-size: 1.8rem;
    }
  }

  &__images {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    margin-top: -5rem;
    width: 400px;
    height: 200px;
  }
  &__images > * {
  flex: 1;          
  min-width: 0;         
}
}
