.latestdetails {
  &__page {
    background-color: #000;
    color: #E7E7E7;
    min-height: 100vh;
    padding: 1rem 0rem 1rem;
    font-family: 'Helvetica Neue', sans-serif;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
  }

  &__logo {
    width: 7rem;
    margin-bottom: 2rem;
    display: block;
  }

  &__content-wrapper {
    display: flex;
    justify-content: flex-start;
    max-width: 1500px;
    margin: -20px auto;
    padding-left: 7rem;

    @media (max-width: 768px) {
      padding-left: 0;
    }
  }

    &__left {
    flex: 0 0 55%;
    max-width: 1000px;
    width: 100%;

    @media (max-width: 768px) {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }

  &__title {
    font-size: 2.1rem;
    font-weight: 500;
    margin-bottom: 1.5rem;

    @media (max-width: 768px) {
      font-size: 2rem;
    }
  }

  &__meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__tags-date {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
  }

  &__tag {
    background-color: #333;
    padding: 0.4rem 0.8rem;
    border-radius: 0.3rem;
    font-size: 0.85rem;
  }

  &__date {
    font-size: 0.85rem;
    opacity: 0.7;
    margin-left: 0.5rem;
    margin-top: 0.3rem;
  }

  &__share-btn {
    background: #E7E7E7;
    color: black;
    border: none;
    padding: 1rem 2rem;
    border-radius: 30px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    margin-top: 0.8rem;

    &:hover {
      background: #ff5b3c;
      color: #fff;
    }
  }

  &__image {
    width: 100%;
    margin-bottom: 2rem;
    object-fit: cover;
  }

  &__text-content {
     display: flex;
    justify-content: flex-start;  
    flex: 0 0 55%;
    max-width: 700px;
    width: 100%;
    line-height: 1.4;
    padding-left: 7.5rem;
  }

  &__summary {
    font-size: 3.7rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
    padding: 0rem 7rem  ;
  }

  &__description {
    margin-bottom: 1.5rem;
    color: #a7a5a5;
    font-size: 1.2rem;
  }
}
